<div class="light-tabs">
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="Properties">
      <div style="padding: 10px;">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
            <!-- <div style="text-align: center">
              <button type=" submit " class="btn btn-primary submit-button ">Submit</button>
              <button type="button " class="btn btn-default " (click)="options.resetModel() ">Reset</button>
            </div> -->
          </formly-form>
        </form>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Access Permissions ">
      Access Permissions
    </mat-tab>
    <mat-tab label="Rules ">
      Rules
    </mat-tab>
    <mat-tab label="Custom Code ">
      Custom Code
    </mat-tab> -->
  </mat-tab-group>
</div>