<p-card *ngIf='showTable && layoutStyle=="horizontal"'>
  <p-table [columns]='scrollableCols' [value]="languageData.fields" [scrollable]="true" scrollHeight="200px" frozenWidth="400px">
    <ng-template pTemplate="frozenheader" let-frozenColumns>
      <tr>
        <th style="width:200px;">Name</th>
        <th style="width:200px;" *ngFor="let col of frozenCols">
          {{col.label}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="frozenbody" let-rowData>
      <tr>
        <td>{{rowData.label}}</td>
        <td style="width:200px;height: 27px;" pEditableColumn *ngFor="let col of frozenCols">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input *ngIf="rowData.type==inputTypes.TEXT" type="text" [(ngModel)]="rowData.value[col.value]">
              <textarea *ngIf="rowData.type== inputTypes.TEXT_AREA" [(ngModel)]="rowData.value[col.value]"></textarea>
            </ng-template>
            <ng-template pTemplate="output">
              <span *ngIf="rowData.value">{{rowData.value[col.value]}}</span>
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width:200px;" *ngFor="let col of columns">
          {{col.label}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td style="width:200px;height: 27px;" pEditableColumn *ngFor="let col of columns">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input *ngIf="rowData.type==inputTypes.TEXT" type="text" [(ngModel)]="rowData.value[col.value]">
              <textarea *ngIf="rowData.type==inputTypes.TEXT_AREA" [(ngModel)]="rowData.value[col.value]"></textarea>
            </ng-template>
            <ng-template pTemplate="output">
              <span *ngIf="rowData.value">{{rowData.value[col.value]}}</span>
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>

  </p-table>
  <p-footer fxLayoutAlign="center center" fxLayoutGap="5px" *ngIf="showSubmitBtn">
    <button type="submit" (click)='saveLanguage()' pButton label="UPDATE" class="ui-button"></button>
  </p-footer>
</p-card>


<p-table *ngIf='showTable && layoutStyle=="vertical"' styleClass="language-table" [value]="languageData.fields">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
      <td [attr.rowspan]="languageData.languages.length+1">
        {{rowData.label}}
      </td>
    </tr>
    <tr *ngFor="let col of languageData.languages">
      <td>{{col.label}}</td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input *ngIf="rowData.type==inputTypes.TEXT" type="text" [(ngModel)]="rowData.value[col.value]">
            <textarea *ngIf="rowData.type== inputTypes.TEXT_AREA" [(ngModel)]="rowData.value[col.value]"></textarea>
          </ng-template>
          <ng-template pTemplate="output">
            <span *ngIf="rowData.value">{{rowData.value[col.value]}}</span>
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
</p-table>