@import '../app/config/theme.scss';

.ui-confirmdialog{
    border: $borderNone;
    .ui-dialog-titlebar{
        background: $modal-header;
        .ui-dialog-title{
            color:$white;
        }
        // .ui-dialog-titlebar-close{

        // }
    }
    // .ui-dialog-content{

    // }
    // .ui-dialog-footer{

    // }
}