.ui-float-label>label {
    left: 0.45em;
}
.ui-float-label>input:focus ~ label,
 .ui-float-label>input.ui-state-filled ~ label,
  .ui-float-label>.ui-inputwrapper-focus ~ label,
   .ui-float-label>.ui-inputwrapper-filled ~ label {
   
    font-size: 14px;
    left: 0em;
}
.ui-float-label textarea:focus ~ label,
 .ui-float-label textarea.ui-state-filled ~ label,
  .ui-float-label textarea:-webkit-autofill ~ label {
    font-size: 14px;
    left: 0em;
}

.ui-inputtext {
    padding: .45em;
    //color: $textfield-border;
    transition:none;
}
.ui-state-default {
    border: 1px solid $textfield-border;
}
.permission-checkbox{
    .ui-chkbox{
        border: 1px solid #ccc;
        font-size: $fontSizeLarge;
    }
    .ui-chkbox-label{
        cursor: pointer;
        font-size: $fontSizeLarge;
    }
}