.form-page{
    color: #72848c;
    font-size: 18px;
    form{
        margin:0px auto; 
        padding: 10px;
        @media(min-width:1024px){
            margin:0px auto 0px 234px; 
            width: 500px;
        }
        h1{
            color: #323232;
            margin-top:0px;
            margin-bottom: 0px;
            //padding-top: 90px;
            @media(max-width:768px){
                font-size: 24px;
                padding: 0px;
            }
            &.logo{
                border-bottom: 1px solid #cbcbcb;
                padding-bottom: 10px;
                margin-bottom: 50px;
            }
        }
        p{
            margin-bottom: 35px;
        }
        a{
            color: #26bded;
        }
        .form-field{
            margin-bottom: 30px;
            input{
                @media(max-width:768px){
                    margin-left:0px;
                }
                &.ui-inputtext{
                    padding: 15px;
                    width: 100%;
                }
            }
            .help-block{
                color: #f00;
                bottom: -20px;
                font-size: 16px;
                text-align: right;
            }
        }
        .ui-button{
            padding: 6px;
            border-radius: 20px;
            font-size: 14px;
            width: 100%;
        }
    }
    .ui-float-label>input.ui-state-filled ~ label{
        font-size: 18px;
    }
    .ui-float-label > input:focus ~ label{
        font-size: 18px; 
    }
}
