<div class="form-page" fxFill fxLayoutAlign="center center">
    <form fxLayout="column" (ngSubmit)="f.form.valid && sendMail()" #f="ngForm" novalidate>
        <!-- <h1 class="logo">
            <img src="assets/images/logo.png" alt="Logo">
        </h1> -->
        <h1>Forgot Password</h1>
        <p>Please enter your e-mail address and we’ll help you with this</p>
        <div class="form-field ui-float-label">
            <input name="email" size="30"  [(ngModel)]="fp.userName" pInputText type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
            <label for="email">Your email address</label>
        </div>
        <div class="form-field" fxLayout="row" fxLayoutAlign="start center">
            <button [disabled]="f.invalid" pButton type="submit" label="SEND MAIL" class="btn-grade"></button>
            <!-- <button pButton routerLink="/login" type="button" label="CANCEL" class="ui-button-secondary"></button> -->
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <a href="javascript:;" fxFlex="30">Need Help</a>
            <a routerLink="/login">Sign In</a>
        </div>
    </form>
</div>