// Font settigns
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700|Lora:400i|Montserrat:700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// Bootstrap files
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";

$main-font: 'Source Sans Pro';
$secondary-font: 'Lora';
$body-font: 'Source Sans Pro';

// Side Menu
$sideMenu-width: 320px;
$sideMenuIcon-width: 70px;

//Colors
$main-color: #72848c;                     
$body-color: #eff3f6; //#f6f6f6;                    
$primaryLight: #28b2d8;//'#003fc2'
$primary: #10b1dc;//'#003fc2'
$primaryHover: #068eb4;//'#003fc2'
$secondary: #f1a004;
$ternary: #026084;
$modal-header: #026084;
$ternaryLight: #20b892;
$secondaryLight: #fabb42;
$warning: '#ff6152';
$lightgrey: '#e7e7e7';
$contrast: '#ffffff';
$textColor: '#000000';
$transparentGrey: '#0009';
$textColorHighlight: '#838485';
$textColorInverted: '#ffffff';
$white: #ffffff;
$transparent: '#fff0';
$breadCrumb-color: #f6f6f6;
$success: #20b892;
$placeholderTextColor: #9B9B9B;
$inputBackground: #ffffff;
$snackButton: #606060;
$snackbarBg: #797979;
$buttonBg: #0ea5e6;
$buttonDisabledBg: #6b929d;
$backgroundColor: #f6f6f6;
$listBackground: '#DDD';


// Font size
$fontSizeXS: 9px;
$fontSizeSmall: 12px;
$fontSizeNormal: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$fontSizeXL: 24px;
$fontSizeXXL: 30px;
$fontSizeXXXL: 60px;
$fontSize32: 32px;
$fontSize40: 40px;
$fontWeightUltraLight: '200';
$fontWeightLight: '300';
$fontWeightRegular: '400';
$fontWeightMedium: '500';
$fontWeightBold: '700';

//Panel styles
$panelHeader: #f4f8fb;
$panelFooter: #f0f0f0;
$panelFooter2: #f6f6f6;

//Paddings
$padding0:0px;
$padding5:5px;
$padding7:7px;
$padding8:8px;
$padding10:10px;
$padding13:13px;
$padding15:15px;
$padding20:20px;
$padding25:25px;
$padding30:30px;
$padding55:55px;

//Margins
$margin0:0px;
$margin5:5px;
$margin7:7px;
$margin10:10px;
$margin15:15px;
$margin20:20px;

//border
$borderNone:none;
$border-color:#e6e9ee;
$textfield-border:#dee7eb;
$textfield-border2:#c2c2c2;

//border-radius
$borderRadius: 5px;
$br5: 5px;

// Colors
$colorDefault:#72848c;
$colorDefault2:#959595;

//Icon Colors
$iconColor1:#b2b2b2;

//Material Tabs
$matTabsBg: #f0f0f0;
$lightMatTabsBg: #fbfbfb;

//Widths
$w-25 : 25px;
$w-30 : 30px;
$w-40 : 40px;
$w-50 : 50px;
$w-100 : 100px;

//Heights
$h-50 : 50px;
$h-80 : 80px;
$h-0 : 0px;

//Line Heights
$lh-50 : 50px;
$lh-65 : 65px;
$lh-0 : 0px;

//Font weights
$bold : bold;
$semi-bold : 600;