@import '../app/config/theme.scss';
.flex-p{
    padding: $padding0 $padding10;
}
.flex-overlay{
    padding: $padding20 $padding10 $padding0;
    position: relative;
    &.active{
        background-color: $body-color;
        border-radius: $br5;
    }
    .overlay-field{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
    }
}
