@import '../../config/theme.scss';
.ui-links{
    ul{
        li{
            display: inline;
            a{
                padding: $padding10;
                color: $main-color;
                &.active{
                    color: $primary;
                }
            }
        }
    }
}
.ui-content{
    padding: $padding10;
}